In [11]:
import numpy as np
import pandas as pd

ResultSheet = {
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}
dFrame1 = pd.DataFrame(ResultSheet)
print(dFrame1)
#print(dFrame1.loc['Maths'] > 90)
# print(dFrame1.loc[[True, False, True]])
print()
print(dFrame1.iloc[0: 1])
print(dFrame1.loc['Maths': 'Science', 'Arnab'])
print(dFrame1.loc['Maths': 'Science', 'Arnab':'Samridhi'])
print(dFrame1.loc['Maths': 'Science',['Arnab','Samridhi']])

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99

       Arnab  Ramit  Samridhi  Riya  Mallika
Maths     90     92        89    81       94
Maths      90
Science    91
Name: Arnab, dtype: int64
         Arnab  Ramit  Samridhi
Maths       90     92        89
Science     91     81        91
         Arnab  Samridhi
Maths       90        89
Science     91        91

In [14]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 28, 30],
    'City': ['New York', 'Paris', 'London', np.nan, 'Berlin']
}

df = pd.DataFrame(data)
print(df)
print("First 3 rows (head(3)):\n", df.head(3))
print("\nLast 2 rows (tail(2)):\n", df.tail(2))
print("\nNon-NaN counts (count()):\n", df.count())

      Name   Age      City
0    Alice  25.0  New York
1      Bob   NaN     Paris
2  Charlie  35.0    London
3    David  28.0       NaN
4      Eva  30.0    Berlin
First 3 rows (head(3)):
       Name   Age      City
0    Alice  25.0  New York
1      Bob   NaN     Paris
2  Charlie  35.0    London

Last 2 rows (tail(2)):
     Name   Age    City
3  David  28.0     NaN
4    Eva  30.0  Berlin

Non-NaN counts (count()):
 Name    5
Age     4
City    4
dtype: int64

In [28]:
ResultSheet={
  'Arnab': pd.Series([90, 91, 97], index=['Maths','Science','Hindi']),
  'Ramit': pd.Series([92, 81, 96], index=['Maths','Science','Hindi']),
  'Samridhi': pd.Series([89, 91, 88], index=['Maths','Science','Hindi']), 
  'Riya': pd.Series([81, 71, 67], index=['Maths','Science','Hindi']),
  'Mallika': pd.Series([94, 95, 99], index=['Maths','Science','Hindi'])
}
dFrame1 = pd.DataFrame(ResultSheet)
print(dFrame1)
#Add column at the end
dFrame1["preeti"] = [89, 90, 91]
print(dFrame1)
dFrame1.insert(1, "Jayesh", np.array([90, 95, 100]))
print(dFrame1)
dFrame1.loc['English'] = [85, 86, 83, 80, 90, 89, 90]
dFrame1.loc['Maths'] = [99, 98, 97, 96, 95, 94, 91]
dFrame1.loc['Hindi']= 0
print(dFrame1)

print()
dFrame1 = dFrame1.rename({'Maths':'Sub1', 'Science':'Sub2','English':'Sub3', 'Hindi':'Sub4'}, axis='index')
dFrame1 = dFrame1.rename({'Arnab':'ST-01', 'Mallika':'ST-02'}, axis='columns')
print(dFrame1)
dFrame1 = dFrame1.drop('Ramit', axis=1)
print(dFrame1)

del dFrame1['ST-01']
print(dFrame1)

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99
         Arnab  Ramit  Samridhi  Riya  Mallika  preeti
Maths       90     92        89    81       94      89
Science     91     81        91    71       95      90
Hindi       97     96        88    67       99      91
         Arnab  Jayesh  Ramit  Samridhi  Riya  Mallika  preeti
Maths       90      90     92        89    81       94      89
Science     91      95     81        91    71       95      90
Hindi       97     100     96        88    67       99      91
         Arnab  Jayesh  Ramit  Samridhi  Riya  Mallika  preeti
Maths       99      98     97        96    95       94      91
Science     91      95     81        91    71       95      90
Hindi        0       0      0         0     0        0       0
English     85      86     83        80    90       89      90

      ST-01  Jayesh  Ramit  Samridhi  Riya  ST-02  preeti
Sub1     99      98     97        96    95     94      91
Sub2     91      95     81        91    71     95      90
Sub4      0       0      0         0     0      0       0
Sub3     85      86     83        80    90     89      90
      ST-01  Jayesh  Samridhi  Riya  ST-02  preeti
Sub1     99      98        96    95     94      91
Sub2     91      95        91    71     95      90
Sub4      0       0         0     0      0       0
Sub3     85      86        80    90     89      90
      Jayesh  Samridhi  Riya  ST-02  preeti
Sub1      98        96    95     94      91
Sub2      95        91    71     95      90
Sub4       0         0     0      0       0
Sub3      86        80    90     89      90

In [34]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [5, 6, 7], 'C': [8, 9, 10]})
print("Id of original dataframe",id(df1))
print(df1)

df2 = df1.drop('B',inplace = True, axis = 1)
print("Id of modified dataframe",id(df2))
print(df2)

Id of original dataframe 2592516661344
   A  B   C
0  1  5   8
1  2  6   9
2  3  7  10
Id of modified dataframe 140718715417536
None

In [35]:
help(pd.DataFrame.drop)

Help on function drop in module pandas.core.frame:

drop(self, labels: 'IndexLabel | None' = None, *, axis: 'Axis' = 0, index: 'IndexLabel | None' = None, columns: 'IndexLabel | None' = None, level: 'Level | None' = None, inplace: 'bool' = False, errors: 'IgnoreRaise' = 'raise') -> 'DataFrame | None'
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by directly specifying index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level. See the :ref:`user guide <advanced.shown_levels>`
    for more information about the now unused levels.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop. A tuple will be used as a single
        label and not treated as a list-like.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        in place and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame or None
        Returns DataFrame or None DataFrame with the specified
        index or column labels removed or None if inplace=True.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    Drop a specific index combination from the MultiIndex
    DataFrame, i.e., drop the combination ``'falcon'`` and
    ``'weight'``, which deletes only the corresponding row

    >>> df.drop(index=('falcon', 'weight'))
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    llama   speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [45]:
ar_1 = np.array([10, np.nan, 20, 30, 40])
ar_2 = np.array(['Google', np.nan, 'Meta', 'Amazon', 'Apple'])
ar_3 = np.array([np.nan, {'name': 'Google'}, 123])

print(ar_1.dtype) 
print(ar_2.dtype)
print(ar_3.dtype)

series_1 = pd.Series([1, 2, np.nan], dtype="Int64")
#is same as series_1 = pd.Series([1, 2, np.nan], dtype=pd.Int64Dtype())
print(series_1)

series_2 = pd.Series([1.5, 2.3, np.nan], dtype="Float64")
#is same as series_2 = pd.Series([1.5, 2.3, np.nan], dtype=pd.Float64Dtype())
print(series_2)

series_3 = pd.Series(['New york', 'London', 'Delhi', np.nan], dtype="string")
#is same as series_3 = pd.Series(['New york', 'London', 'Delhi', np.nan], dtype=pd.StringDtype())
print(series_3)

series_5 = pd.Series([{1: "One"}, {2: "Two"}, {3: "Three"}, np.nan], dtype = 'object')
print(series_5)


a = pd.NA
b = pd.NA
print(a == b)
print(a != b)
print(a is b)


series = pd.Series([10, 20, 30, pd.NA], dtype = "Int64")
print(series + 10)

float64
<U32
object
0       1
1       2
2    <NA>
dtype: Int64
0     1.5
1     2.3
2    <NA>
dtype: Float64
0    New york
1      London
2       Delhi
3        <NA>
dtype: string
0      {1: 'One'}
1      {2: 'Two'}
2    {3: 'Three'}
3             NaN
dtype: object
<NA>
<NA>
True
0      20
1      30
2      40
3    <NA>
dtype: Int64